<h1>New Fantasy Team</h1>

<% form_for(@fantasy_team) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.label :fantasy_league %><br />
    <%= f.select(:fantasy_league_id, FantasyLeague.all.map { |l| [l.name, l.id] }) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', fantasy_teams_path %>
