<h1>Listing drafts</h1>

<table>
  <tr>
    <th>League</th>
    <th colspan="3">Actions</th>
  </tr>

<% for draft in @drafts %>
  <tr>
    <td><%= link_to draft.fantasy_league.name, draft.fantasy_league %></td>
    <td><%= link_to 'Show', draft %></td>
    <td><%= link_to 'Edit', edit_draft_path(draft) %></td>
    <td><%= link_to 'Destroy', draft, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New draft', new_draft_path %>
