<style type="text/css">
.f-left {
  float: left;
}

.clr-left {
  clear: left;
}

.clr-right {
  clear: right;
}

dt {
  font-weight: bold
}

table#draft-results {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

table#draft-results th,
table#draft-results td {
  border: 1px solid gray;
}

table#draft-results td {
  width: 7%;
  padding-left: 0.5ex;
}

table#draft-results th {
  width: 5%;
  border: none;
  text-align: right;
  padding-right: 1ex;
}

.owner {
  color: gray;
  font-size: 65%;
}

.on-the-clock,
.selection {
  font-size: 80%;
  color: #336;
}

.on-the-clock {
  color: #0c0;
}

.current {
  color: #fff;
  background-color: #0c0;
  font-weight: bold;
}

#suggestion-selection {
  background-color: #FAEA70;
}

</style>

<h2>Draft: <%= link_to @draft.league.name, @draft.league %></h2>

<%
rounds = @draft.total_rounds
teams = @draft.teams
i = 0
%>

<dl>
  <dt>Current Round / Selection</dt>
  <dd><%= @draft.current_round %> / <%= @draft.current_pick %></dd>
  <dt>Overall Selection</dt>
  <dd><%= @draft.current_overall_selection %></dd>
  <dt>On the Clock</dt>
  <dd><%= @draft.current_team.name %></dd>
  <dt>Next on the Clock</dt>
  <dd><%= @draft.next_team.name %></dd>
</dl>

<h3><%= @draft.current_team.name %> Selection:</h3>

<p>
<div id="select-a-player">
<% form_for(@draft_selection) do |f| %>
  <%= f.hidden_field(:draft_id, { :value => @draft.id }) %>
  <%= f.hidden_field(:fantasy_team_id, { :value => @draft.current_team.id }) %>
  <%= f.hidden_field(:round, { :value => @draft.current_round }) %>
  <%= f.hidden_field(:pick, { :value => @draft.current_pick }) %>

  <%= player_select(f, @draft) %>

  <%= f.submit "Draft Player", :disable_with => "Processing..." %>
<% end %>

<%= link_to_function "Write in a player", "$('write-in-a-player').show(); $('select-a-player').hide();" %>
</div>

<div id="write-in-a-player" style="display: none">
<% form_for(@draft_selection) do |f| %>
  <%= text_field(:write_in, :name) %>
  <%= select(:write_in, :position, Player.positions) %>
  <%= select(:write_in, :pro_team_id, ProTeam.all.map { |t| [t.name, t.id] }) %>

  <%= f.hidden_field(:draft_id, { :value => @draft.id }) %>
  <%= f.hidden_field(:fantasy_team_id, { :value => @draft.current_team.id }) %>
  <%= f.hidden_field(:round, { :value => @draft.current_round }) %>
  <%= f.hidden_field(:pick, { :value => @draft.current_pick }) %>

  <%= f.submit "Draft Player", :disable_with => "Processing..." %>
<% end %>

<%= link_to_function "Select a player", "$('write-in-a-player').hide(); $('select-a-player').show();" %>
</div>
</p>

<p id="suggestion-wrapper">
  <%= link_to_remote "Suggest Selection", :url => { :action => "suggest_selection", :id => @draft.id } %>
  <div id="suggestion-selection"></div>
</p>

<h3>Draft Results by Round</h3>
<% while i<rounds do %>
  <table id="draft-results">
    <tr>
       <th class="<%= is_current_round?(@draft, i) ? "current" : "" %>">
         Round <%= i+1 %>:
       </th>
     <% for team in teams do %>
       <td class="<%= is_current_pick?(@draft, team, i) ? "current" : "" %>">
         <%= "%s <span class='owner'>(%s)</span>"%[team.name,team.owner] %>
       </td>
     <% end %>
    <tr>
    <tr>
       <th></th>
     <% for team in teams do %>
       <td>
         <% if is_current_pick?(@draft, team, i) %>
           <span class="current">On the clock...</span>
         <% else %>
           <%
            sel = @draft.selection(i+1,teams.index(team) + 1)
           %>
           <span class="selection"><%= sel ? sel.player : '' %></span>
           <% if (sel && sel == @draft.last_pick) %>
             <div><%= link_to "Undo Selection", sel, :confirm => "Are you sure you want to undo this selection?", :method => :delete %></div>
           <% end %>
         <% end %>
       </td>
     <% end %>
    </tr>
  </table>
<% teams.reverse!; i += 1; end %>

<div class="clr-left clr-right">
<div class="f-left">
  <h3>Drafted Players</h3>
  <div id="drafted-players">
    <ul>
      <% @draft.league.drafted_players.each do |p| %>
        <li><%= p %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="f-left">
  <h3>Current Roster for <%= @draft.current_team.name %></h3>
  <ul>
    <% @draft.current_team.roster.each do |p| %>
      <li><%= p %></li>
    <% end %>
  </ul>
</div>

<div class="f-left">
  <h3>Top Choices</h3>
  <ol id="top-suggestions">
  </ol>
</div>

</div>

<%= link_to 'Edit', edit_draft_path(@draft) %> |
<%= link_to 'Back', drafts_path %>
